<tr>
  <td> <%= friend.first_name %> </td>
  <td> <%= friend.last_name %> </td>
  <td> <%= friend.email %> </td>
  <td> <%= friend.phone %> </td>
  <td> <%= friend.twitter %> </td>
  <td> <%= link_to "Show", friend, class:"btn btn-dark" %> </td>
</tr>