<div class = "jumbotron">
  <h1 class = "display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <p class="lead">
    <%= @friend.email %>  | 
    <%= @friend.phone %>  |  
    <%= @friend.twitter %>
  </p>
</div>

<div>
  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
      <%= link_to "< Back to friends", friends_path, class:"btn btn-dark" %>
      <%= link_to "Edit this friend ðŸ“", edit_friend_path(@friend), class:"btn btn-secondary" %>
    </div>
    <div class="btn-group" role="group" aria-label="Second group">
      <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-danger" %>
    </div>
  </div>
</div>
